<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flood Resource Allocation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Flood Resource Allocation</h1>
    <form action="{{ url_for('index') }}" method="post">
        <button type="submit" name="run_report">Run Resource Allocation Report (2012)</button>
    </form>
    <form action="{{ url_for('index') }}" method="post">
        <button type="submit" name="run_live">Run Live Weather Data</button>
    </form>
</body>

</html>